.article {
  background-color: rgb(246, 244, 231);
  color: black;
  padding: 15px;
  border-radius: 5px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  width: 300px;
}

button {
  background-color: rgb(26, 0, 0);
  height: 50px;
  color: white;
  border-style: none;
  font-size: large;
  margin: 10px;
  padding: 0 10px 0 10px;
}

#search {
  height: 45px;
  padding: none;
  border-radius: none;
  margin-left: 10px;
}

.link {
  font-size: large;
  color: rgb(26, 0, 0);
  text-decoration: none;
  min-height: 45px;
}

img {
  width: auto;
  height: 250px;
  margin-top: 8px;
}

.forms {
  display: flex;
  flex-direction: row;
}

#content {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}